#hero {
  width: 100vw;
  height: 100vh;
  display: flex;
}
#hero-container {
  display: flex;
  align-items: flex-end;
  width: 100%;
  height: 100%;
  padding: 80px;
  background: url("../assets/big/hero-1.jpeg") center/cover no-repeat;
}
#hero-container::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  background: rgba(1, 59, 54, 0.3);
  width: 100%;
  height: 100%;
}
